<section class="container" id="conclusion">
<div class="row">
  <div class="col-xs-12">
    <h1>Conclusion</h1>
    <ul class="lead">
    	
    	<li>The framework is not for beginers although some simple concepts can be easily applied without in-depth knowledge (such as expressions or filters) </li>
    	<li>AngularJS require good knowledge of html, css, javascript to be effectively used</li>
    	<li>This is a popular framework so we were able to find many tutorials and information on how to build a website with Angularjs</li>
    	<li>There are "newer versions" of the framework available under the name Angular. But the newer versions are completely rewritten - they are not upgrades from AngularJs. Angular 2 is following a component-based UI and there is no longer controllers and scope in Angular 2. Controllers are replaced by Components here. AngularJs is stil worth learning as this version is still widely popular.</li>

    </ul>
  </div>
  </div>
</section>