<section class="row">
	<div class="col-xs-12">
		<h1>Angular JS installation - steps</h1>
		<h2>1. Download AngularJs</h2>
		<p>Download from: <a href="https://angularjs.org/">https://angularjs.org/</a></p>
		<img src="img/download.png" class="img-responsive">
		<h2>2. Include AngularJs</h2>
		<p>Normally, calls to JavaScript frameworks are placed at the bottom of the page. That way, the layout loads first, and then application would load next. But Angular JS is doing a lot more than just adding basic functionality to your HTML. It's sort of going to take control of all your layout. So it should go at the very top, so it loads it first.
</p>
<!-- code -->
<xmp>
<!doctype html>
<html ng-app>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
</head> 
</xmp>
<!-- code -->	 
			</div>
		</section>