<section class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>Introduction to Angular JS</h1>
						<img src="img/logo.png" class="img-responsive" style="max-width: 350px">

			<h2>What is AngularJS?</h2>
			<ol>
				<li>Open-source, front-end JavaScript framework</li>
				<li>Originally, developed by Misko Hevery and Adam Abrons in 2009</li>
				<li>Now, maintained by Google</li>
				<li>Single Page Application(SPA) </li>
			</ol>
			<h2>Features</h2>
			<ol>
				<li>Powerful JavaScript based development framework</li>
				<li>Clien side application in a clean Model View Controller(MVC) way</li>
				<li>Cross-browser compliant</li>
				<li>Open source, completely free</li>
			</ol>
			<h2>Technological bases</h2>
						<img src="img/angularjs_concepts.jpg" class="img-responsive" style="max-width: 500px">    

			<h2>Strength</h2>
			<ol>
				<li>Data Binding</li>
				<li>Customize and Extensible</li>
				<li>Support</li>
				<li>Compatibility</li>
				<li>Testing</li>
			</ol>
			<h2>Weakness</h2>
			<ol>
				<li>SEO problem in AngularJS applications</li>
				<li>Easy to start, hard to master</li>
				<li>AngularJS implementations scale poorly</li>
				<li>The libraries have to be AngularJS specific</li>
				<li>Does not work if user disables the JavaScript in browser</li>
			</ol>
		</div>
	</div>
</section>